body {
   padding: 0;
   margin: 0;
}

* {
   box-sizing: border-box;

   font-family: "Poppins";
   font-weight: 400;
}

:root {
   --main-color: #9e896a;
   --primary-color: #f8eddd;
}

.container {
   padding: 0 40px;
}

@media (max-width: 575px) {
   .container {
      padding: 0 20px;
   }
}

@font-face {
   font-family: "Poppins";
   src: url("../public/static/fonts/Poppins-Regular.eot");
   src: url("../public/static/fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"),
      url("../public/static/fonts/Poppins-Regular.woff2") format("woff2"),
      url("../public/static/fonts/Poppins-Regular.woff") format("woff"),
      url("../public/static/fonts/Poppins-Regular.ttf") format("truetype"),
      url("../public/static/fonts/Poppins-Regular.svg#Poppins-Regular") format("svg");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Poppins";
   src: url("../public/static/fonts/Poppins-Bold.eot");
   src: url("../public/static/fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"),
      url("../public/static/fonts/Poppins-Bold.woff2") format("woff2"),
      url("../public/static/fonts/Poppins-Bold.woff") format("woff"),
      url("../public/static/fonts/Poppins-Bold.ttf") format("truetype"),
      url("../public/static/fonts/Poppins-Bold.svg#Poppins-Bold") format("svg");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Poppins";
   src: url("../public/static/fonts/Poppins-Light.eot");
   src: url("../public/static/fonts/Poppins-Light.eot?#iefix") format("embedded-opentype"),
      url("../public/static/fonts/Poppins-Light.woff2") format("woff2"),
      url("../public/static/fonts/Poppins-Light.woff") format("woff"),
      url("../public/static/fonts/Poppins-Light.ttf") format("truetype"),
      url("../public/static/fonts/Poppins-Light.svg#Poppins-Light") format("svg");
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}
